<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<div class="jumbotron">
  <div class="container">
    <h1 id='esq'>Esq.Me</h1>
    <p>
      Esq.Me is a legal platform for lawyers to connect, share legal documents and expand their professional network at a click of a button. Esq.Me strives to make legal research cost effective and time efficient, allowing for more client intake and faster legal services.
    </p>
    <p>
      Our mission is to connect lawyers across different fields of law, harmonize the competitive edge of the legal field and create a community where lawyers can freely refer and communicate with one another.
    </p>
    <p>
      <h4>Find Out More About Us</h4>
        <div id='btngroup' class="btn-group btn-group-lg">
            <a href='/soniatapryal' class="btn btn-primary btn-custom btn-lg">Sonia Tapryal</a>
            <a href='/somyakaushik' class="btn btn-primary btn-custom btn-lg">Somya Kaushik</a>
        </div>
    </p>
     <div>
        <a href="https://twitter.com/EsqMeLaw" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @EsqMeLaw</a>

        <!-- <div class="fb-like" data-href="http://www.facebook.com/esq.me" data-width="450" data-colorscheme="dark" data-show-faces="false" data-send="false"></div> -->
        <div class="fb-like-box" data-href="http://www.facebook.com/esq.me" data-width="100" data-colorscheme='dark' data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
  </div>
</div>