<h1>Hi, I'm Somya</h1>

<p>Somya Kaushik is an attorney in New York City. Somya graduated from New York Law School's International Law Program and has been published for her legal writing in international arbitration and mediation. Somya also focused her law career in Intellectual Property Law, sparking her interest in starting Esq.Me. Somya holds a degree in Psychology and Political Science from The George Washington University.
<br>
Somya's goal for Esq.Me is to create a harmonized legal platform for practicing lawyers, allowing them to share their legal documents easily and quickly, refer to other attorneys for credible documents and expand their professional network.

<br>
@EsqMeLaw <br>
www.facebook.com/esq.me<br>
esqmelaw@gmail.com
</p>