<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<div class="jumbotron">
  <div class="container">
    <h1 id='esq'>Sonia Tapryal</h1>
    <div class='photo'>
      <img src="http://farm6.staticflickr.com/5511/10028062225_08a69f55ac_n.jpg">

    </div>
    <div class='about'>
      <p>
        Sonia Tapryal is an attorney in New York City. She graduated from New York Law School in 2013 and she holds a Political Communications degree from Emerson College. Sonia has extensive experience in both civil rights and family law and she has dedicated her career to providing quality representation to clients in both fields. She has worked at the Legal Aid Society, Juvenile Rights Practice for one year where she gained experience with family law issues including divorce, custody arrangements and child protective issues. She also participated in the New York Law School Civil Rights Clinic where she represented several clients in Title VII and ADEA employment discrimination cases.
     <br>
     <br>
        Sonia's goal for Esq.Me is to harness the power of technology to make life easier for lawyers in New York City by giving them a platform to connect and share resources.
      </p>
    </div>
  </div>
  <div>
      <!-- <a href="https://twitter.com/stapryal" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Stapryal</a> -->
  </div>
</div>