body {
  /*background-image: url('rice.png')*/
  background-color: white;

}

.jumbotron {
  background-color: #3B403C;
  color: white;
  font-family: 'Raleway', sans-serif;


}

img {
  border-radius: 1.3em;
  border-style: none;
}




