body {
  /*background-image: url('rice.png')*/
  background-color: #FFFFF3;
}

.jumbotron {
  background-color: #3B403C;
  color: white;
  font-family: 'Raleway', sans-serif;

}

h1 a{
  display:block;
  text-indent:-9999px;
  background:url(/images/logo.jpg);
}





