body {
  /*background-image: url('rice.png')*/
  background-color: #FFE8A8;
}

.jumbotron {
  background-color: #3B403C;
  color: white;
  font-family: 'Raleway', sans-serif;

}

h1 a{
  display:block;
  text-indent:-9999px;
  background:url(/images/logo.jpg);
}

/*.btn-primary  {
  background-image: linear-gradient(to bottom,green 0,#8DFFC1 100%);
  color: white;
  border-color: #234030
}*/




